body{
    background-color: #EEEEEE;
}

.glyphicon-chevron-left,
.glyphicon-chevron-right,
.glyphicon-chevron-up,
.glyphicon-chevron-down{
    color: #aaa;
}

hr.home-separator {
    border: 0;
    height: 1px;
    background: #333;
    background-color: #EEEEEE;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}

.navbar {
    position: relative;
    min-height: 10px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.navbar-brand,
.navbar-nav > li > a {
    line-height: 64px;
    height: 64px;
    padding-top: 0;
}

#dynamic-editor {
    margin: 0;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.gallery-modal-content {

    background-color: rgb(238, 238, 238);
}

.gallery-modal-header{

    border-bottom: 1px solid #5C9CFF;
}

.gallery-modal-footer{

    border-top: 1px solid #5C9CFF;
}

.over-line{
    border-color: #ff6000 !important;
}

.box {
    border: 3px solid #E7E7E7;
    border-radius: 6px 6px 6px 6px;
    margin: 0px;
    padding: 20px 10px 20px 10px;
    background-color: #ffffff;
}

.treebox {
    overflow: auto;
    max-height: 500px;
}

.droptreebox {
    overflow: auto;
    max-height: 300px;
}

.c-ul {border: 1px solid #FFFFFF;}
.c-li {background-color: #FFFFFF;}
.c-liSelected {background-color: #FFFFFF;}
.c-iExpanded {border: 1px solid #FFFFFF}
.c-iCollapsed {border: 1px solid #FFFFFF}
.c-iLeaf {border: 1px solid #FFFFFF}


.c-ul-new-ext {border: 0px solid #EEE;}
.c-li-new-ext {background-color: #EEE;}
.c-liSelected-new-ext {background-color: #EEE;}
.c-iExpanded-new-ext {border: 0px solid #EEE}
.c-iCollapsed-new-ext {border: 0px solid #EEE}
.c-iLeaf-new-ext {border: 0px solid #EEE}


treecontrol.tree-light li.tree-leaf {
    font-weight: normal;
}

treecontrol.tree-light li .tree-selected {
    font-weight: normal;
}

.console {
    height: 100vh;
    width: 100%;
    position: absolute;
    padding: 20px 50px 0px 50px;
}

.console-background {
    background-color: #7CB65D;
    background-image: url(../../../ng-gallery/www/img/background.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    float: left;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.progress {
    width: 100%;
    height: 30px;
    background: #A7A7A7;
    position: relative;
}

.bar {
    background: #00A000;
    height: 30px;
    color: #000000;
}

.progress span {
    position: absolute;
    top: 5px;
    z-index: 2;
    color: #000000;
    text-align: center;
    width: 100%;
}

.loader-background {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index:2;
    background-color:rgb(180, 197, 206)
}


.gallery-modal-content-about {

    background-color: #62AD5B;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../../ng-gallery/www/img/background.svg);
}

.gallery-modal-header-about{

    border-bottom: 1px solid #024d06;
}

.gallery-modal-footer-about{

    border-top: 1px solid #024d06;
}

/*http://charliepark.org/bootstrap_buttons*/
.gallery-btn-about {
    background-color: hsl(86, 79%, 44%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#daf6b5", endColorstr="#7cc817");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#daf6b5), to(#7cc817));
    background-image: -moz-linear-gradient(top, #daf6b5, #7cc817);
    background-image: -ms-linear-gradient(top, #daf6b5, #7cc817);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #daf6b5), color-stop(100%, #7cc817));
    background-image: -webkit-linear-gradient(top, #daf6b5, #7cc817);
    background-image: -o-linear-gradient(top, #daf6b5, #7cc817);
    background-image: linear-gradient(#daf6b5, #7cc817);
    border-color: #7cc817 #7cc817 hsl(86, 79%, 34%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.66);
    -webkit-font-smoothing: antialiased;
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

    .btn-gallery-home {
        min-width: 160px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

    .btn-gallery-home {
        min-width: 160px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    .btn-gallery-home {
        min-width: 160px;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

    .btn-gallery-home {
        width: 142px;
    }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

    .btn-gallery-home {
        width: 142px;
    }
}









